<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 맵핑될 DAO 인터페이스의 Full name 을 줍니다. -->
<mapper namespace="com.common.www">

	<!-- goods 물품 토탈 출력 -->
	<select resultType="java.lang.Integer" id="selectTotalPaging">
		SELECT
		NVL(COUNT(*),0)FROM COOGOODS
	</select>



	<!-- 메소드 이름 가지고 와서 작성 -->
	<!-- 점포 리스트 출력 db -->
	<select id="getStore" resultType="com.common.www.dto.commonDTO">
		SELECT STORECODE , INLOCATION ,
		TEL , DAILYSALES ,MONTHLYSALES
		FROM COOSTORE
	</select>

	<!-- 상품 리스트 출력 db -->
	<select id="getItem" resultType="com.common.www.dto.commonDTO2">
		SELECT GOODSNUMBER,
		GOODSNAME,
		PRICE,
		NOWSTOCK,
		INPUTGOODS,
		EXPIRATIONDATE,
		SOLDNUM,
		NEWITEM
		FROM COOGOODS
	</select>

	<!-- select one goods -->
	<select id="getItemOne"
		resultType="com.common.www.dto.commonDTO2"
		parameterType="java.lang.Integer">
		SELECT
		GOODSNUMBER,
		GOODSNAME,
		PRICE,
		NOWSTOCK,
		INPUTGOODS,
		EXPIRATIONDATE,
		SOLDNUM,
		NEWITEM
		FROM COOGOODS
		WHERE GOODSNUMBER
		=#{goodsnumber}
	</select>

	<!-- 상품 추가 db 식품() -->
	<insert id="insertGoodsFood"
		parameterType="com.common.www.dto.commonDTO2">
		INSERT INTO COOGOODS
		VALUE(GOODSNUMBER,GOODSNAME,PRICE,EXPIRATIONDATE)
		VALUES(#{goodsnumber},#{goodsname},#{price},SYSDATE + 5 )
	</insert>

	<!-- 상품 추가 db 통조림() -->
	<insert id="insertGoodsCan"
		parameterType="com.common.www.dto.commonDTO2">
		INSERT INTO COOGOODS
		VALUE(GOODSNUMBER,GOODSNAME,PRICE,EXPIRATIONDATE)
		VALUES(#{goodsnumber},#{goodsname},#{price},SYSDATE + 1000 )
	</insert>

	<!-- 상품 삭제 -->
	<delete id="deleteGoods" parameterType="java.lang.Integer">
		DELETE COOGOODS WHERE
		GOODSNUMBER =#{goodsnumber}
	</delete>


	<!-- 상품 수정 x -->
	<update id="updateGoods"
		parameterType="com.common.www.dto.commonDTO2">
		UPDATE COOGOODS SET
		GOODSNAME = #{goodsname} , PRICE =
		#{price}
		WHERE
		GOODSNUMBER =#{goodsnumber}
	</update>



</mapper>